@import 'src/styles';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;
    color: $white;
    height: 100vh;
    h1 {
        text-align: center;
        margin-top: 50px;
    }
    ul {
        margin: 24px 0 48px;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 30px;
        li.selected::before {
            content: '';
            position: absolute;
            margin-top: 20px;
            margin-left: -2px;
            width: 52px;
            height: 2px;
            background: $secondary;
        }
        li:hover {
            color: $secondary;
            cursor: pointer;
        }
    }
}
