$black: #020016;
$grey: #0a4051;
$dark-grey: #16151f;
$primary: #151380;
$primary-light: #4744df;
$secondary: #f35a18;
$white: #e0e1ff;

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}
